.aboutme {
  width: 50%;
}

.containerAbout {
  display: flex;
  padding: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgAbout {
  height: 360px;
  width: 25%;
  background-image: url(/assets/imageabout.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-right: 55px;
}

.aboutme h1 {
  margin-bottom: 24px;
}
.aboutme p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: justify;
}

.benefit {
  background: rgb(230, 245, 250);
  width: 100%;

  padding: 24px;
  text-align: center;
}

.benefit h2 {
  margin-bottom: 24px;
}

.wrapcardbenefit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardbenefit {
  width: 30%;
  background: rgb(255, 255, 255);
  margin-right: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  min-height: 200px;
}

.cardbenefit p {
  font-size: 14px;
}
.cardbenefit h3 {
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 12px;
}

.iconabout {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  .aboutme {
    width: 50%;
  }

  .containerAbout {
    display: flex;
    padding: 32px 0 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .imgAbout {
    height: 360px;
    width: 25%;
    background-image: url(/assets/imageabout.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-right: 55px;
  }

  .aboutme h1 {
    margin-bottom: 24px;
  }
  .aboutme p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: justify;
  }

  .benefit {
    background: rgb(230, 245, 250);
    width: 100%;

    padding: 24px;
    text-align: center;
  }

  .benefit h2 {
    margin-bottom: 24px;
  }

  .wrapcardbenefit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardbenefit {
    width: 45%;
    background: rgb(255, 255, 255);
    margin-right: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    height: 150px;
  }

  .cardbenefit p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .aboutme {
    width: 100%;
    padding: 0px 16px 0 16px;
  }

  .containerAbout {
    display: flex;
    padding: 32px 0 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  .imgAbout {
    height: 360px;
    width: 25%;
    background-image: url(/assets/imageabout.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-right: 55px;
    display: none;
  }

  .aboutme h1 {
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
  }
  .aboutme p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: justify;
  }

  .benefit {
    background: rgb(230, 245, 250);
    width: 100%;

    padding: 24px;
    text-align: center;
  }

  .benefit h2 {
    margin-bottom: 24px;
  }

  .wrapcardbenefit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardbenefit {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-right: 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    height: 150px;
  }

  .cardbenefit p {
    font-size: 12px;
  }
}
