.main {
}

.topbar {
  background-color: #2cc5e7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 24px 48px;
  z-index: 1;
  color: white;
}

.menutopbar {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.menutopbar li {
  padding-right: 24px;
}
.menutopbar li:hover {
  color: blue;
  cursor: pointer;
}

.header {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: #2cc5e7;
  align-items: center;
  display: flex;
  padding: 24px 190px;
}

.wrtext {
  width: 488px;
}

.hTitle {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 200px;
}

.btnLink {
  background-color: #ffd583;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 18px;
}

.hTitle span {
  background-color: #ffd583;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 3px 10px;
  border-radius: 6px;
  color: #3c3434;
}

.hDescript {
  margin-top: 18px;
}

.labelhDescript {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hDescript p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.TCustomer {
  padding: 42px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TCustomer h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.TCustomer p {
  font-size: 18px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 32px;
}

.WTCcard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.TCcard:nth-child(1) {
  border-radius: 12px;
  display: flex;
  height: 210px;
  align-items: center;
  flex: 1 0;
  align-self: stretch;
  position: relative;
  margin-right: 24px;
  background-image: url(/assets/TChospital.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.TCcard:nth-child(1):hover {
  background-size: 140%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
.TCcard:nth-child(2):hover {
  background-size: 140%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
.TCcard:nth-child(3):hover {
  background-size: 140%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
.TCcard:nth-child(2) {
  border-radius: 12px;
  display: flex;
  height: 210px;
  align-items: center;
  flex: 1 0;
  align-self: stretch;
  position: relative;
  margin-right: 24px;
  background-image: url(/assets/TCindustrie.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.TCcard:nth-child(3) {
  border-radius: 12px;
  display: flex;
  height: 210px;
  align-items: center;
  flex: 1 0;
  align-self: stretch;
  position: relative;
  background-image: url(/assets/TCindustrie.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.TCcard p {
  position: absolute;
  top: 22px;
  left: 22px;
  color: #000;
  text-shadow: 0px 3px 4px rgba(255, 255, 255, 0.51);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.PCategory {
  padding: 42px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PCategoryInner {
  /* background-color: #f0faff; */
  background-color: #e6f5fa;
  width: 85%;
  padding: 42px 42px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PCategoryInner p {
  width: 60%;
  font-size: 18px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-align: center;
  margin-bottom: 72px;
}
.PCategoryInner h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.PCleft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.PCWimg {
  width: 50%;
  text-align: center;
}

.PContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.imgPC {
  border-radius: 12px;
}
.PContent p {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  width: 85%;
  margin-bottom: 32px;
}
.PContent h4 {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}

.wrapFeature {
  width: 85%;
  margin: 0 auto;
  padding: 42px 72px;
}

.wrapfeatureproduct {
  display: flex;
}

.cardProductFeature {
  width: 20%;
  height: 300px;
  background-color: white;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgb(183, 183, 183);
  cursor: pointer;
}
.cardProductFeature:last-child {
  width: 20%;
  height: 300px;
  background-color: white;
  margin-right: 0px;
  border-radius: 6px;
  border: 1px solid rgb(183, 183, 183);
}

.imageCardProduct {
  position: relative;
  height: 250px;
  width: 75%;
  margin: 0 auto;
}
